@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

@layer base {
  .container {
    @apply flex justify-center items-center flex-col;
  }

  .title-soon {
    @apply text-3xl text-gray-400 mb-8;
  }
  .span-soon {
    @apply text-black font-semibold;
  }
  .input-container {
    @apply md:flex md:px-7;
  }
}

:root {
  --Blue: hsl(223, 87%, 63%);
  --PaleBlue: hsl(223, 100%, 88%);
  --Light-Red-error: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
